pipeline/pl_pitstop.json
{
	"name": "pl_pitstop",
	"properties": {
		"activities": [
			{
				"name": "Web_pitstop",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "http://ergast.com/api/f1.json?offset=839&limit=300"
				}
			},
			{
				"name": "get_pitstop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web_pitstop",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Web_pitstop').output.MRData.RaceTable.Races",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "round",
								"value": ""
							}
						},
						{
							"name": "Set variable1_copy1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": []
						}
					]
				}
			}
		],
		"variables": {
			"round": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ignition"
		},
		"annotations": []
	}
}