pipeline/test_formula1_Api.json
{
	"name": "test_formula1_Api",
	"properties": {
		"activities": [
			{
				"name": "act_web",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "http://ergast.com/api/f1/circuits.json"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_web",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "first_response ",
					"value": {
						"value": "@string(activity('act_web').output.MRData.CircuitTable.Circuits)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"first_response ": {
				"type": "String"
			}
		},
		"annotations": []
	}
}